In [66]:
import pandas as pd

df=pd.read_csv('/Users/hitengoel/Machine Learning/data analysis(technical indiactors)/data-analysis-with-technical-indicators/rsi_graphs/MASTER_RSI')

df

,Unnamed: 0,Date,M&M_RSI_VAL,M&M_RSI_SIGNAL,MARUTI_RSI_VAL,MARUTI_RSI_SIGNAL,NESTLEIND_RSI_VAL,NESTLEIND_RSI_SIGNAL,NTPC_RSI_VAL,NTPC_RSI_SIGNAL,...,INDUSINDBK_RSI_VAL,INDUSINDBK_RSI_SIGNAL,INFY_RSI_VAL,INFY_RSI_SIGNAL,ITC_RSI_VAL,ITC_RSI_SIGNAL,JSWSTEEL_RSI_VAL,JSWSTEEL_RSI_SIGNAL,KOTAKBANK_RSI_VAL,KOTAKBANK_RSI_SIGNAL
0,0,2011-01-03,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,...,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD
1,1,2011-01-04,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,...,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD
2,2,2011-01-05,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,...,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD
3,3,2011-01-06,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,...,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD
4,4,2011-01-07,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,...,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD,NaN,HOLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,3199,2023-12-22,49.959460,HOLD,41.773597,HOLD,62.117072,HOLD,70.286258,SELL,...,61.978695,HOLD,65.818901,HOLD,55.933778,HOLD,65.407413,HOLD,65.901886,HOLD
3200,3200,2023-12-26,54.725018,HOLD,44.644427,HOLD,64.407031,HOLD,73.473430,SELL,...,63.637253,HOLD,60.966250,HOLD,57.019928,HOLD,63.645632,HOLD,70.839704,SELL
3201,3201,2023-12-27,58.620293,HOLD,45.607994,HOLD,66.206882,HOLD,69.294621,HOLD,...,68.329474,HOLD,64.417599,HOLD,57.605108,HOLD,70.400102,SELL,73.289981,SELL
3202,3202,2023-12-28,64.561334,HOLD,44.812616,HOLD,71.410867,SELL,72.957288,SELL,...,70.354559,SELL,63.259717,HOLD,63.386479,HOLD,71.580728,SELL,75.956958,SELL
3203,3203,2023-12-29,63.495149,HOLD,46.636147,HOLD,74.092123,SELL,69.815454,HOLD,...,66.311162,HOLD,58.254893,HOLD,60.833876,HOLD,71.237270,SELL,70.658421,SELL

In [67]:
data=pd.read_csv('/Users/hitengoel/Machine Learning/data analysis(technical indiactors)/data-analysis-with-technical-indicators/Pair trading/Returns data/standardised_returns_for_clustering.csv')
X=data['Unnamed: 0']
X
nigg=[]
for y in X:
    y=y.removesuffix('.NS')+'_RSI_VAL'
    nigg.append(y)

for y in nigg:
    df=df.drop(y,axis=1)


df=df.drop('Unnamed: 0',axis=1)

df.shape

(3204, 30)

In [68]:
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        if(df.iloc[i,j]=='HOLD'):
            df.iloc[i,j]=0
        if(df.iloc[i,j]=="SELL"):
            df.iloc[i,j]=-1
        if(df.iloc[i,j]=="BUY"):
            df.iloc[i,j]=1

In [69]:
df

,Date,M&M_RSI_SIGNAL,MARUTI_RSI_SIGNAL,NESTLEIND_RSI_SIGNAL,NTPC_RSI_SIGNAL,POWERGRID_RSI_SIGNAL,RELIANCE_RSI_SIGNAL,SBIN_RSI_SIGNAL,SUNPHARMA_RSI_SIGNAL,TATAMOTORS_RSI_SIGNAL,...,BHARTIARTL_RSI_SIGNAL,HCLTECH_RSI_SIGNAL,HDFCBANK_RSI_SIGNAL,HINDUNILVR_RSI_SIGNAL,ICICIBANK_RSI_SIGNAL,INDUSINDBK_RSI_SIGNAL,INFY_RSI_SIGNAL,ITC_RSI_SIGNAL,JSWSTEEL_RSI_SIGNAL,KOTAKBANK_RSI_SIGNAL
0,2011-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2011-01-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011-01-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2011-01-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011-01-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,2023-12-22,0,0,0,-1,0,-1,0,0,0,...,0,0,-1,0,0,0,0,0,0,0
3200,2023-12-26,0,0,0,-1,0,-1,0,0,0,...,0,0,-1,0,0,0,0,0,0,-1
3201,2023-12-27,0,0,0,0,0,-1,0,0,0,...,0,0,-1,0,0,0,0,0,-1,-1
3202,2023-12-28,0,0,-1,-1,0,-1,-1,0,0,...,0,0,-1,-1,0,-1,0,0,-1,-1
3203,2023-12-29,0,0,-1,0,0,-1,0,0,-1,...,0,0,-1,-1,0,0,0,0,-1,-1

In [70]:
for i in range(1,df.shape[1]):
    flag=False
    for j in range(df.shape[0]):
        if(flag==True and df.iloc[j,i]==1):
            df.iloc[j,i]=0
            continue
        if(flag==False and df.iloc[j,i]==-1):
            df.iloc[j,i]=0
            continue
        if(df.iloc[j,i]==1):
            flag=True
            continue
        if(df.iloc[j,i]==-1):
            flag=False
            continue

In [71]:
for i in range(1,len(df.columns)):
    df.columns.values[i] = df.columns.values[i][:-11] + ".NS"

In [72]:
df

,Date,M&M.NS,MARUTI.NS,NESTLEIND.NS,NTPC.NS,POWERGRID.NS,RELIANCE.NS,SBIN.NS,SUNPHARMA.NS,TATAMOTORS.NS,...,BHARTIARTL.NS,HCLTECH.NS,HDFCBANK.NS,HINDUNILVR.NS,ICICIBANK.NS,INDUSINDBK.NS,INFY.NS,ITC.NS,JSWSTEEL.NS,KOTAKBANK.NS
0,2011-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2011-01-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011-01-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2011-01-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011-01-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,2023-12-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3200,2023-12-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3201,2023-12-27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3202,2023-12-28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3203,2023-12-29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
newdf=pd.read_csv('/Users/hitengoel/Machine Learning/data analysis(technical indiactors)/data-analysis-with-technical-indicators/Pair trading/Returns data/sensex_close.csv')

In [74]:
for i in range(1,len(newdf.columns)):
    newdf.columns.values[i] = newdf.columns.values[i][:-7]

In [75]:
newdf

,Date,M&M.NS,MARUTI.NS,NESTLEIND.NS,NTPC.NS,POWERGRID.NS,RELIANCE.NS,SBIN.NS,SUNPHARMA.NS,TATAMOTORS.NS,...,HCLTECH.NS,HDFCBANK.NS,HINDUNILVR.NS,ICICIBANK.NS,INDUSINDBK.NS,INFY.NS,ITC.NS,JSWSTEEL.NS,KOTAKBANK.NS,LT.NS
0,2011-01-03,354.620422,1290.611816,330.042328,103.102730,34.205589,435.470551,244.451538,222.953857,245.710617,...,84.377457,214.272614,250.432007,178.996750,245.397202,326.783081,84.445229,101.518600,226.530899,730.862915
1,2011-01-04,351.783600,1293.055542,334.839203,103.985962,34.240391,444.340057,236.958893,224.143433,243.823334,...,85.677994,210.243530,256.629883,172.617676,237.144684,328.965912,85.749603,99.524185,228.215866,729.054565
2,2011-01-05,347.190735,1278.303223,335.643555,103.648254,34.136005,443.803680,233.286163,223.296997,240.893860,...,87.758896,206.895676,260.468506,167.192352,230.932098,326.901215,86.860710,97.802521,222.467087,711.673218
3,2011-01-06,347.280792,1243.414551,329.865906,104.947121,34.449173,447.846588,227.153442,228.764481,236.800095,...,88.752892,208.648010,256.509827,164.706360,226.156754,328.654022,86.425919,93.715721,220.583893,693.000366
4,2011-01-07,333.344513,1213.232300,326.092957,102.375381,34.049000,439.513367,225.295456,225.721893,223.504761,...,86.439774,203.422287,250.352051,164.041885,213.499756,318.505707,83.334106,87.783630,215.677612,681.320557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,2023-12-22,1634.250000,10217.150391,2529.704590,300.772919,227.939011,2565.050049,636.750000,1236.600830,724.700012,...,1432.274536,1648.341187,2575.600098,994.299988,1562.349976,1562.900024,448.611328,855.299988,1860.500000,3477.949951
3200,2023-12-26,1662.250000,10270.650391,2549.010254,307.527405,229.512711,2578.050049,638.049988,1240.428955,719.549988,...,1427.819336,1659.784912,2584.750000,995.099976,1570.800049,1543.949951,449.843231,852.299988,1886.849976,3490.050049
3201,2023-12-27,1687.949951,10288.500000,2564.805420,304.001160,230.201187,2586.850098,648.549988,1245.350830,740.900024,...,1441.430298,1680.354126,2608.300049,1002.250000,1597.449951,1567.099976,450.483826,875.900024,1902.349976,3544.000000
3202,2023-12-28,1734.449951,10271.599609,2617.601562,311.798615,235.168152,2605.550049,651.400024,1254.995972,753.900024,...,1441.821777,1682.277710,2633.800049,1005.900024,1610.550049,1562.650024,457.382507,880.799988,1921.349976,3518.050049
3203,2023-12-29,1729.400024,10302.349609,2650.548584,309.067017,233.299393,2584.949951,642.049988,1252.311157,779.950012,...,1435.603882,1686.223877,2663.949951,996.599976,1598.949951,1542.900024,455.411438,880.250000,1908.099976,3526.000000

In [76]:
intrade = []
orders = pd.DataFrame(columns=['Date', 'Stock', 'Order', 'Price'])

In [77]:
groups = [['SUNPHARMA.NS', 'TATAMOTORS.NS', 'TCS.NS', 'TECHM.NS', 'WIPRO.NS', 'HCLTECH.NS', 'INFY.NS'],
          ['MARUTI.NS', 'POWERGRID.NS', 'SBIN.NS', 'AXISBANK.NS', 'ICICIBANK.NS'],
          ['NESTLEIND.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'ASIANPAINT.NS', 'BAJFINANCE.NS', 'BAJAJFINSV.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INDUSINDBK.NS', 'ITC.NS', 'KOTAKBANK.NS'],
          ['RELIANCE.NS', 'JSWSTEEL.NS']]

In [78]:
for k in groups:
    for i in range(len(df)):
        row = df.iloc[i]
        buys = 0
        sells = 0
        for j in range(1,len(row)):
            if((df.columns[j] in k) and df.iloc[i,j] == 1):
                buys += 1
            elif((df.columns[j] in k) and df.iloc[i,j] == -1):
                sells += 1
        if(buys < 1 or sells < 1):
            continue
        
        count = min(buys,sells)
        buy_stocks = []
        sell_stocks = []

        for j in range(1,len(row)):
            if((df.columns[j] in k) and df.iloc[i,j] == 1 and len(buy_stocks) < count):
                buy_stocks.append(df.columns[j])
            elif((df.columns[j] in k) and df.iloc[i,j] == -1 and len(sell_stocks) < count):
                sell_stocks.append(df.columns[j])
        

        for l in range(len(buy_stocks)):
            for m in range(len(sell_stocks)):
                if(buy_stocks[l] == '' or sell_stocks[m] == ''):
                    continue
                if([buy_stocks[l], sell_stocks[m]] in intrade):
                    continue
                
                #for q in intrade:
                 #   if(buy_stocks[l] in q or sell_stocks[m] in q):
                  #      orders = pd.concat([orders,pd.DataFrame({'Date': [df.iloc[i]['Date']], 'Stock': [q[0]], 'Order': ['Sell'], 'Price': [newdf.iloc[i][q[0]]]})], ignore_index=True)
                   #     orders = pd.concat([orders,pd.DataFrame({'Date': [df.iloc[i]['Date']], 'Stock': [q[1]], 'Order': ['Buy'], 'Price': [newdf.iloc[i][q[1]]]})], ignore_index=True)
                    #    intrade.remove(q)
                
                intrade.append([buy_stocks[l], sell_stocks[m]])
                orders = pd.concat([orders,pd.DataFrame({'Date': [df.iloc[i]['Date']], 'Stock': [buy_stocks[l]], 'Order': ['Buy'], 'Price': [newdf.iloc[i][buy_stocks[l]]]})], ignore_index=True)
                orders = pd.concat([orders,pd.DataFrame({'Date': [df.iloc[i]['Date']], 'Stock': [sell_stocks[m]], 'Order': ['Sell'], 'Price': [newdf.iloc[i][sell_stocks[m]]]})], ignore_index=True)

                buy_stocks[l] = ''
                sell_stocks[m] = ''


    while(len(intrade) > 0):
        q = intrade.pop()
        orders = pd.concat([orders,pd.DataFrame({'Date': [df.iloc[-1]['Date']], 'Stock': [q[0]], 'Order': ['Sell'], 'Price': [newdf.iloc[-1][q[0]]]})], ignore_index=True)
        orders = pd.concat([orders,pd.DataFrame({'Date': [df.iloc[-1]['Date']], 'Stock': [q[1]], 'Order': ['Buy'], 'Price': [newdf.iloc[-1][q[1]]]})], ignore_index=True)

In [79]:
orders

Empty DataFrame
Columns: [Date, Stock, Order, Price]
Index: []