In [36]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
np.set_printoptions(threshold=sys.maxsize)

In [37]:
df=pd.read_csv('/Users/vedantgupta/Documents/summer project/data-analysis-with-technical-indicators-1/nifty_sensex_close_data/data/Sensex_2011_to_2023(separated).csv', sep=',',header=None)

In [38]:
df

,0,1,2,3,4,5,6,7,8,9,...,113,114,115,116,117,118,119,120,121,122
0,NaN,Unnamed: 0,Date,M&M.NS(open),M&M.NS(high),M&M.NS(low),M&M.NS(close),MARUTI.NS(open),MARUTI.NS(high),MARUTI.NS(low),...,JSWSTEEL.NS(low),JSWSTEEL.NS(close),KOTAKBANK.NS(open),KOTAKBANK.NS(high),KOTAKBANK.NS(low),KOTAKBANK.NS(close),LT.NS(open),LT.NS(high),LT.NS(low),LT.NS(close)
1,0.0,0,2011-01-03,357.8624659280758,360.99193872661425,353.1119850886887,354.62042236328125,1294.186623378024,1312.2871355931013,1283.7788288543547,...,100.61088862784888,101.51860046386719,226.92735923500695,227.94331304107092,225.93619364313184,226.53089904785156,732.6526765432103,735.5865049279827,726.9880884775708,730.8629150390625
2,1.0,1,2011-01-04,354.4177444559813,356.6241421875,349.0593931528688,351.7835998535156,1291.4717469276302,1315.3644488540222,1270.70145012886,...,99.30258937533583,99.52418518066406,226.4813263900376,229.9504057876968,226.4813263900376,228.2158660888672,734.3686097301978,735.2173729523169,723.113222874855,729.0545654296875
3,2.0,2,2011-01-05,351.7836273992247,355.27332098302503,344.55659005455425,347.19073486328125,1292.3764133650338,1298.7115918619213,1272.7825892043115,...,97.44881150879023,97.80252075195312,227.96805817715085,230.37163746751125,221.02989988480277,222.4670867919922,731.4532308298388,737.3207851251321,706.7651591205072,711.6732177734375
4,3.0,3,2011-01-06,349.8699196987059,350.3202027356412,341.3145419969358,347.2807922363281,1280.656372028957,1289.6613315215145,1236.5363791084842,...,93.22563911728281,93.7157211303711,223.0122453580337,225.4405978938018,219.44404338271084,220.58389282226562,717.7622778734609,717.7622778734609,691.5611986832009,693.0003662109375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,3199.0,3199,2023-12-22,1630.0,1652.0,1622.75,1634.25,10050.0,10318.2998046875,10030.0,...,843.0999755859375,855.2999877929688,1854.699951171875,1879.6500244140625,1851.0,1860.5,3424.0,3496.0,3408.60009765625,3477.949951171875
3201,3200.0,3200,2023-12-26,1640.9000244140625,1669.0,1634.5,1662.25,10270.0,10281.2001953125,10114.7001953125,...,849.9500122070312,852.2999877929688,1867.0,1899.0,1857.1500244140625,1886.8499755859375,3477.949951171875,3508.35009765625,3477.949951171875,3490.050048828125
3202,3201.0,3201,2023-12-27,1670.0,1691.800048828125,1660.25,1687.949951171875,10286.0,10305.349609375,10230.0,...,855.6500244140625,875.9000244140625,1894.0,1910.0,1883.1500244140625,1902.3499755859375,3510.0,3549.0,3504.14990234375,3544.0
3203,3202.0,3202,2023-12-28,1688.949951171875,1739.949951171875,1688.4000244140625,1734.449951171875,10310.9501953125,10310.9501953125,10187.0,...,874.0,880.7999877929688,1911.0,1926.5,1903.0999755859375,1921.3499755859375,3545.0,3559.949951171875,3500.5,3518.050048828125
3204,3203.0,3203,2023-12-29,1730.0,1758.0,1715.0,1729.4000244140625,10280.4501953125,10396.650390625,10273.0,...,873.2999877929688,880.25,1912.0999755859375,1917.75,1890.050048828125,1908.0999755859375,3531.0,3540.0,3495.0,3526.0

In [39]:
df=df.drop([0,1,3,4,5,6],axis=1)

In [40]:
df

,2,7,8,9,10,11,12,13,14,15,...,113,114,115,116,117,118,119,120,121,122
0,Date,MARUTI.NS(open),MARUTI.NS(high),MARUTI.NS(low),MARUTI.NS(close),NESTLEIND.NS(open),NESTLEIND.NS(high),NESTLEIND.NS(low),NESTLEIND.NS(close),NTPC.NS(open),...,JSWSTEEL.NS(low),JSWSTEEL.NS(close),KOTAKBANK.NS(open),KOTAKBANK.NS(high),KOTAKBANK.NS(low),KOTAKBANK.NS(close),LT.NS(open),LT.NS(high),LT.NS(low),LT.NS(close)
1,2011-01-03,1294.186623378024,1312.2871355931013,1283.7788288543547,1290.61181640625,330.28754934205455,332.2062845207583,326.95774701449477,330.0423278808594,104.6353698760385,...,100.61088862784888,101.51860046386719,226.92735923500695,227.94331304107092,225.93619364313184,226.53089904785156,732.6526765432103,735.5865049279827,726.9880884775708,730.8629150390625
2,2011-01-04,1291.4717469276302,1315.3644488540222,1270.70145012886,1293.0555419921875,329.9692493997998,335.55333598714986,326.957796015447,334.8392028808594,103.05078966456226,...,99.30258937533583,99.52418518066406,226.4813263900376,229.9504057876968,226.4813263900376,228.2158660888672,734.3686097301978,735.2173729523169,723.113222874855,729.0545654296875
3,2011-01-05,1292.3764133650338,1298.7115918619213,1272.7825892043115,1278.30322265625,333.32473020787575,338.5689601240239,331.819004118423,335.6435546875,103.80411643121477,...,97.44881150879023,97.80252075195312,227.96805817715085,230.37163746751125,221.02989988480277,222.4670867919922,731.4532308298388,737.3207851251321,706.7651591205072,711.6732177734375
4,2011-01-06,1280.656372028957,1289.6613315215145,1236.5363791084842,1243.41455078125,335.5618488407969,339.7778770746762,327.38790636903394,329.86590576171875,103.67425347685482,...,93.22563911728281,93.7157211303711,223.0122453580337,225.4405978938018,219.44404338271084,220.58389282226562,717.7622778734609,717.7622778734609,691.5611986832009,693.0003662109375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,2023-12-22,10050.0,10318.2998046875,10030.0,10217.150390625,2516.895773491406,2533.8430550362596,2502.9351788682366,2529.70458984375,301.96489752724966,...,843.0999755859375,855.2999877929688,1854.699951171875,1879.6500244140625,1851.0,1860.5,3424.0,3496.0,3408.60009765625,3477.949951171875
3201,2023-12-26,10270.0,10281.2001953125,10114.7001953125,10270.650390625,2541.4266788005234,2552.7944944020255,2529.3606386916945,2549.01025390625,304.39849836081004,...,849.9500122070312,852.2999877929688,1867.0,1899.0,1857.1500244140625,1886.8499755859375,3477.949951171875,3508.35009765625,3477.949951171875,3490.050048828125
3202,2023-12-27,10286.0,10305.349609375,10230.0,10288.5,2552.7944007344595,2569.5420501576127,2550.849938065214,2564.805419921875,309.51402380742445,...,855.6500244140625,875.9000244140625,1894.0,1910.0,1883.1500244140625,1902.3499755859375,3510.0,3549.0,3504.14990234375,3544.0
3203,2023-12-28,10310.9501953125,10310.9501953125,10187.0,10271.599609375,2579.703650125962,2629.9765450518717,2570.2652031437365,2617.6015625,307.03075985851694,...,874.0,880.7999877929688,1911.0,1926.5,1903.0999755859375,1921.3499755859375,3545.0,3559.949951171875,3500.5,3518.050048828125
3204,2023-12-29,10280.4501953125,10396.650390625,10273.0,10302.349609375,2617.611522921542,2657.498936604156,2607.2058354482615,2650.548583984375,312.24560649491394,...,873.2999877929688,880.25,1912.0999755859375,1917.75,1890.050048828125,1908.0999755859375,3531.0,3540.0,3495.0,3526.0

In [41]:
df1=df.iloc[:,:5]

In [42]:
df1.columns=['Date','Maruti_Open','Maruti_High','Maruti_Low','Maruti_Close']
df1=df1.drop(0,axis=0)

df1

,Date,Maruti_Open,Maruti_High,Maruti_Low,Maruti_Close
1,2011-01-03,1294.186623378024,1312.2871355931013,1283.7788288543547,1290.61181640625
2,2011-01-04,1291.4717469276302,1315.3644488540222,1270.70145012886,1293.0555419921875
3,2011-01-05,1292.3764133650338,1298.7115918619213,1272.7825892043115,1278.30322265625
4,2011-01-06,1280.656372028957,1289.6613315215145,1236.5363791084842,1243.41455078125
5,2011-01-07,1235.360134954369,1237.8036602613709,1210.5172225850076,1213.2322998046875
...,...,...,...,...,...
3200,2023-12-22,10050.0,10318.2998046875,10030.0,10217.150390625
3201,2023-12-26,10270.0,10281.2001953125,10114.7001953125,10270.650390625
3202,2023-12-27,10286.0,10305.349609375,10230.0,10288.5
3203,2023-12-28,10310.9501953125,10310.9501953125,10187.0,10271.599609375
3204,2023-12-29,10280.4501953125,10396.650390625,10273.0,10302.349609375

In [46]:
df1[['Maruti_Open', 'Maruti_High', 'Maruti_Low', 'Maruti_Close']] = df1[['Maruti_Open', 'Maruti_High', 'Maruti_Low', 'Maruti_Close']].astype(float)
df1['Date'] = pd.to_datetime(df1['Date'])

In [48]:
df1.head()

        Date  Maruti_Open  Maruti_High   Maruti_Low  Maruti_Close
1 2011-01-03  1294.186623  1312.287136  1283.778829   1290.611816
2 2011-01-04  1291.471747  1315.364449  1270.701450   1293.055542
3 2011-01-05  1292.376413  1298.711592  1272.782589   1278.303223
4 2011-01-06  1280.656372  1289.661332  1236.536379   1243.414551
5 2011-01-07  1235.360135  1237.803660  1210.517223   1213.232300

In [49]:
df1.to_csv('/Users/vedantgupta/Documents/summer project/data-analysis-with-technical-indicators-1/nifty_sensex_close_data/data/Maruti_2011_to_2023.csv',index=False)