In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/hitengoel/Machine Learning/data-analysis-with-technical-indicators/nifty_sensex_close_data/data/Sensex_2011_to_2023(separated).csv')

In [3]:
mnm = data[['Date','M&M.NS(close)']]
mnm

            Date  M&M.NS(close)
0     2011-01-03     354.620422
1     2011-01-04     351.783600
2     2011-01-05     347.190735
3     2011-01-06     347.280792
4     2011-01-07     333.344513
...          ...            ...
3199  2023-12-22    1634.250000
3200  2023-12-26    1662.250000
3201  2023-12-27    1687.949951
3202  2023-12-28    1734.449951
3203  2023-12-29    1729.400024

[3204 rows x 2 columns]

In [4]:
#parameters
n = 12
m = 26
t = 9

In [5]:

mnm.loc[:,'EMAn'] = mnm['M&M.NS(close)'].ewm(span=n, adjust=False).mean()

mnm.loc[:,'EMAm'] = mnm['M&M.NS(close)'].ewm(span=m, adjust=False).mean()

/var/folders/94/qzww3__j7w95pdc_5q59f29c0000gn/T/ipykernel_1500/1411935539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mnm.loc[:,'EMAn'] = mnm['M&M.NS(close)'].ewm(span=n, adjust=False).mean()
/var/folders/94/qzww3__j7w95pdc_5q59f29c0000gn/T/ipykernel_1500/1411935539.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mnm.loc[:,'EMAm'] = mnm['M&M.NS(close)'].ewm(span=m, adjust=False).mean()

In [6]:
for i in range(n):
    mnm.loc[i,'EMAn'] = None
for i in range(m):
    mnm.loc[i,'EMAm'] = None

In [7]:

mnm['MACD'] = mnm['EMAn'] - mnm['EMAm']
mnm['Signal Line'] = mnm['MACD'].ewm(span=t, adjust=False).mean()
mnm

/var/folders/94/qzww3__j7w95pdc_5q59f29c0000gn/T/ipykernel_1500/3089229355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mnm['MACD'] = mnm['EMAn'] - mnm['EMAm']
/var/folders/94/qzww3__j7w95pdc_5q59f29c0000gn/T/ipykernel_1500/3089229355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mnm['Signal Line'] = mnm['MACD'].ewm(span=t, adjust=False).mean()

,Date,M&M.NS(close),EMAn,EMAm,MACD,Signal Line
0,2011-01-03,354.620422,NaN,NaN,NaN,NaN
1,2011-01-04,351.783600,NaN,NaN,NaN,NaN
2,2011-01-05,347.190735,NaN,NaN,NaN,NaN
3,2011-01-06,347.280792,NaN,NaN,NaN,NaN
4,2011-01-07,333.344513,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
3199,2023-12-22,1634.250000,1660.519209,1636.174464,24.344746,32.384323
3200,2023-12-26,1662.250000,1660.785485,1638.105985,22.679500,30.443358
3201,2023-12-27,1687.949951,1664.964634,1641.798131,23.166503,28.987987
3202,2023-12-28,1734.449951,1675.654682,1648.661228,26.993454,28.589081
3203,2023-12-29,1729.400024,1683.923197,1654.641880,29.281317,28.727528

In [8]:
trades = pd.DataFrame(columns=[['Date','Order Type','Price']])

In [9]:
for i in range(m+1,len(mnm.index)):
    if mnm.loc[i,'MACD'] > mnm.loc[i,'Signal Line'] and mnm.loc[i-1,'MACD'] < mnm.loc[i-1,'Signal Line']:
        trades.loc[len(trades.index)]  = [mnm.loc[i,'Date'],'Buy',mnm.loc[i,'M&M.NS(close)']]
    if mnm.loc[i,'MACD'] < mnm.loc[i,'Signal Line'] and mnm.loc[i-1,'MACD'] > mnm.loc[i-1,'Signal Line']:
        trades.loc[len(trades.index)]  = [mnm.loc[i,'Date'],'Sell',mnm.loc[i,'M&M.NS(close)']]

In [10]:
trades['Order Type'] = trades['Order Type'].astype(str)
if trades.loc[0]['Order Type'] == 'Sell':
    trades = trades[1:]

if trades.loc[len(trades.index)-1]['Order Type'] == 'Buy':
    trades = trades[:-1]
trades

           Date Order Type        Price
0    2011-02-14        Buy   306.237488
1    2011-02-24       Sell   277.374359
2    2011-03-01        Buy   299.122986
3    2011-05-02       Sell   333.952484
4    2011-05-27        Buy   317.404510
..          ...        ...          ...
239  2023-09-26       Sell  1595.199951
240  2023-10-16        Buy  1574.550049
241  2023-10-26       Sell  1506.099976
242  2023-11-09        Buy  1552.050049
243  2023-12-20       Sell  1646.949951

[244 rows x 3 columns]

In [11]:
profits = 0
losses = 0
for i in range(1,len(trades.index)):
    if(trades.loc[i]['Price'] - trades.loc[i-1]['Price'] > 0):
        profits += trades.loc[i]['Price'] - trades.loc[i-1]['Price']
    else:
        losses += trades.loc[i-1]['Price'] - trades.loc[i]['Price']

net_profit = profits - losses
profit_factor = profits/losses
num = len(trades.index)
print('Number of Trades:',num)
print('Net Profit:',net_profit)
print('Profit Factor:',profit_factor)

Number of Trades: 244
Net Profit: 1340.7124633789062
Profit Factor: 1.4456548710279942