In [2]:
import pandas as pd

In [3]:
lmao=pd.read_csv('Sensex_2011_to_2023(separated).csv')
df=lmao[['Date','M&M.NS(close)']]

df

            Date  M&M.NS(close)
0     2011-01-03     354.620422
1     2011-01-04     351.783600
2     2011-01-05     347.190735
3     2011-01-06     347.280792
4     2011-01-07     333.344513
...          ...            ...
3199  2023-12-22    1634.250000
3200  2023-12-26    1662.250000
3201  2023-12-27    1687.949951
3202  2023-12-28    1734.449951
3203  2023-12-29    1729.400024

[3204 rows x 2 columns]

In [4]:
n1=5
n2=50
n3=100
for i in range (len(df)):
    df.loc[:,'SMAa'] = df.loc[i-n1+1:i+1,'M&M.NS(close)'].mean()
    df.loc[:,'SMAb'] = df.loc[i-n2+1:i+1,'M&M.NS(close)'].mean()
    df.loc[:,'SMAc'] = df.loc[i-n3+1:i+1,'M&M.NS(close)'].mean()
for i in range(n1):
    df.loc[i,'SMAa'] = None
for i in range(n2):
    df.loc[i,'SMAb'] = None
for i in range(n3):
    df.loc[i,'SMAc'] = None

/var/folders/jl/1yyg660d1h928xlnjl5thhsm0000gn/T/ipykernel_50693/141777188.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'SMAa'] = df.loc[i-n1+1:i+1,'M&M.NS(close)'].mean()
/var/folders/jl/1yyg660d1h928xlnjl5thhsm0000gn/T/ipykernel_50693/141777188.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'SMAb'] = df.loc[i-n2+1:i+1,'M&M.NS(close)'].mean()
/var/folders/jl/1yyg660d1h928xlnjl5thhsm0000gn/T/ipykernel_50693/141777188.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'SMAc'] = df.loc[i-n3+1:i+1,'M&M.NS(close)'].mean()

In [5]:
smooth=2
alpha1=smooth
alpha1 = alpha1/ (n1 + 1.0)
beta1  = 1 - alpha1
alpha2=smooth
alpha2 = alpha2/ (n2 + 1.0)
beta2  = 1 - alpha2
alpha3=smooth
alpha3 = alpha3/ (n3 + 1.0)
beta3  = 1 - alpha3
df['EMAa']=df['SMAa']
df['EMAb']=df['SMAb']
df['EMAc']=df['SMAc']

df.loc[n1 + 1, 'EMAa'] = ((df.loc[n1 + 1,'M&M.NS(close)'] * alpha1) + (df.loc[n1, 'EMAa'] * beta1)) 
for i in range(n1 + 2, len(df)):
    df.loc[i, 'EMAa'] = (df.loc[i,'M&M.NS(close)'] * alpha1)+(df.loc[i-1, 'EMAa']*beta1)

df.loc[n2 + 1, 'EMAb'] = ((df.loc[n2 + 1,'M&M.NS(close)'] * alpha2) + (df.loc[n2, 'EMAb'] * beta2)) 
for i in range(n2 + 2, len(df)):
    df.loc[i, 'EMAb'] = (df.loc[i,'M&M.NS(close)'] * alpha2)+(df.loc[i-1, 'EMAb']*beta2)

df.loc[n3 + 1, 'EMAc'] = ((df.loc[n3 + 1,'M&M.NS(close)'] * alpha3) + (df.loc[n3, 'EMAc'] * beta3)) 
for i in range(n3 + 2, len(df)):
    df.loc[i, 'EMAc'] = (df.loc[i,'M&M.NS(close)'] * alpha3)+(df.loc[i-1, 'EMAc']*beta3)

/var/folders/jl/1yyg660d1h928xlnjl5thhsm0000gn/T/ipykernel_50693/3791705047.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EMAa']=df['SMAa']
/var/folders/jl/1yyg660d1h928xlnjl5thhsm0000gn/T/ipykernel_50693/3791705047.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EMAb']=df['SMAb']
/var/folders/jl/1yyg660d1h928xlnjl5thhsm0000gn/T/ipykernel_50693/3791705047.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EMAc']=df['SMAc']

In [6]:
df

,Date,M&M.NS(close),SMAa,SMAb,SMAc,EMAa,EMAb,EMAc
0,2011-01-03,354.620422,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-04,351.783600,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-05,347.190735,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-01-06,347.280792,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-01-07,333.344513,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3199,2023-12-22,1634.250000,1689.659985,1593.82,1575.872496,1654.969936,1604.429676,1556.467364
3200,2023-12-26,1662.250000,1689.659985,1593.82,1575.872496,1657.396624,1606.697140,1558.562070
3201,2023-12-27,1687.949951,1689.659985,1593.82,1575.872496,1667.581067,1609.883525,1561.124206
3202,2023-12-28,1734.449951,1689.659985,1593.82,1575.872496,1689.870695,1614.768482,1564.556399
3203,2023-12-29,1729.400024,1689.659985,1593.82,1575.872496,1703.047138,1619.263837,1567.820630

In [8]:

trades = pd.DataFrame(columns=[['Date','Order Type','Price']])

In [9]:
for i in range(n3+1,len(df.index)):
    if df.loc[i-1,'EMAa'] > df.loc[i-1,'EMAb'] and df.loc[i-1,'EMAa'] > df.loc[i-1,'EMAc']:
        trades.loc[len(trades.index)]  = [df.loc[i,'Date'],'Buy',df.loc[i,'M&M.NS(close)']]
    if df.loc[i-1,'EMAa'] < df.loc[i-1,'EMAb'] and df.loc[i-1,'EMAa'] < df.loc[i-1,'EMAc']:
        trades.loc[len(trades.index)]  = [df.loc[i,'Date'],'Sell',df.loc[i,'M&M.NS(close)']]

In [10]:
trades

            Date Order Type        Price
0     2011-05-31       Sell   302.635254
1     2011-06-01       Sell   304.323761
2     2011-06-02       Sell   297.862244
3     2011-06-03       Sell   301.261871
4     2011-06-06       Sell   296.106171
...          ...        ...          ...
2684  2023-12-22        Buy  1634.250000
2685  2023-12-26        Buy  1662.250000
2686  2023-12-27        Buy  1687.949951
2687  2023-12-28        Buy  1734.449951
2688  2023-12-29        Buy  1729.400024

[2689 rows x 3 columns]